@import 'colors';

.form-signup{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
.form-control{
    display: flex;
    flex-direction: column;
}